---
import CarouselServices from '../../components/CarouselServices.astro';
import CommercialForm from '../../components/CommercialForm.astro';
import ResidentialForm from '../../components/ResidentialForm.astro';

interface Props {
  formType: string;
  carouselImages:string[]
}
const { formType, carouselImages } = Astro.props as Props;
---

<section class="flex flex-col lg:flex-row justify-center items-center lg:items-stretch gap-7 pb-10 md:pb-[50px] max-w-screen md:max-w-[1150px] px-4 lg:px-0 w-full min-h-[660px] h-full">
  <CarouselServices images={carouselImages}/>
  {formType === 'residential' && <ResidentialForm />}
  {formType === 'commercial' && <CommercialForm/>}
</section>