<section class="flex justify-center items-stretch gap-7 pb-[140px] max-w-[1150px] w-full min-h-[660px] h-full">
  <div class="flex-1 max-w-[678px] bg-[#787878] rounded-[15px] text-white flex justify-center items-center">
    <p>Carousel de Fotos</p>
  </div>
  <div class="flex-1 max-w-[444px] bg-[#787878] rounded-[15px] text-white flex justify-center items-center">
    <p>Formulario propetario</p>
  </div>
</section>