@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap');
@import "tailwindcss";
@theme {
  --color-main: #0544FF;
  --color-secondary:#24272C;
  --color-backgorund: #D9D9D9;
  --color-background-dark: #787878;
  --font-family: 'Red Hat Text', sans-serif;
  --breakpoint-xs: 25rem;
  --breakpoint-3xl: 106rem;
}
.shadow-div{
  box-shadow: 0px 13px 24.5px 0px rgba(0, 0, 0, 0.25);
}
.shadow-design{
  box-shadow: 0px 6px 14.4px 0px rgba(0, 0, 0, 0.25)
}
.gray-gradient{
  background: rgba(4, 35, 64, 0.20);
}
.service-bg {
  background: rgba(4, 35, 64, 0.32);
}
.slide-hidden{
  transform: translateX(100%);
  opacity: 0; 
}
.slide-visible{
  transform: translateX(0);
  opacity:1;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
