<div class="form-container" id="form-Dkudisw6KlOEbtl1RG09-wrapper" style="min-height:120px;">
  <div class="form-placeholder" style="display:flex;align-items:center;justify-content:center;">
    <small>Cargando formulario…</small>
  </div>

  <iframe
    id="inline-Dkudisw6KlOEbtl1RG09"
    data-src="https://link.jzpressurepros.com/widget/form/Dkudisw6KlOEbtl1RG09"
    class="w-full sm:w-[400px] md:w-[420px] lg:w-[470px] xl:w-[550px] h-[855px]"
    style="border:none;overflow:hidden;display:none;"
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-activation-type="alwaysActivated"
    data-deactivation-type="neverDeactivate"
    data-form-name="Form Referral"
    data-height="855"
    data-layout-iframe-id="inline-Dkudisw6KlOEbtl1RG09"
    data-form-id="Dkudisw6KlOEbtl1RG09"
    title="Form Referral"
    scrolling="no"
    loading="lazy"
    sandbox="allow-forms allow-scripts allow-popups allow-same-origin"
  ></iframe>
</div>
