---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type CatalogContent = Translations['main']['catalog'];
interface Props {
  content: CatalogContent;
}
const { content } = Astro.props as Props;
---
<section class="py-[35px] md:py-[115px] max-w-screen md:max-w-[1142px] flex flex-col md:flex-row justify-center items-center gap-[18px] md:gap-[53px] px-4 md:px-0 w-full" data-aos="fade-down-left" data-aos-offset="1000">
  <div class="order-2 md:order-1 flex flex-col justify-center items-center w-auto">
    <h2 set:html={content.title} class="text-secondary text-[16px] md:text-[40px] font-normal leading-[26px] md:leading-[46px] text-center max-w-[180px] md:max-w-none"></h2>
    <p class="text-primary-dark-bold text-center text-[13px] md:text-[16px] font-medium leading-[20px] md:leading-[25px] mt-[18px] max-w-[336px] md:max-w-[385px]">{content.description}</p>
    <Button class='bg-main mt-[15px] md:mt-[32px] px-[38px] uppercase'>
      {content.button}
    </Button>
  </div>
  <div class="order-1 md:order-2 w-full md:w-[550px] h-[193px] md:h-[316px] rounded-[15px] bg-[#787878]">
  </div>
</section>