---
import FormRefered1 from '../../components/FormRefered1.astro';

type Translations = typeof import('../../i18n/es').default;
type DesignContent = Translations['main']['information']['design'];
interface Props {
  content: DesignContent;
}
const { content } = Astro.props as Props;
---
<div class="flex flex-col lg:flex-row justify-center items-center gap-[10px] md:gap-[53px] w-full max-w-full px-4 md:px-0 overflow-hidden">
  <div class="w-full md:w-[537px] md:flex-shrink-0 flex flex-col justify-center items-center gap-6">
    <div class="flex flex-col justify-center items-center lg:items-start gap-4">
      <h3 set:html={content.title} class="text-[28px] md:text-[40px] font-normal leading-[28px] md:leading-[46px] text-center md:text-start text-secondary max-w-[200px] md:max-w-[300px] "></h3>
      <p class="text-[16px] font-medium leading-[20px] md:leading-[25px] text-primary-dark-bold text-center md:text-start ">{content.description}</p>
    </div>
    <div class="relative w-full h-[254px] md:h-[647px] rounded-[10px] overflow-hidden hidden lg:block">
      <img src="/main/experience3.webp" alt="Experiencia 3" width="1500" height="100" style="display: block; width: 100%; height: 100%; object-fit: cover; object-position: 17% center;"  loading="lazy" decoding="async">
    </div>
  </div>
  <div class="w-full max-w-full lg:max-w-[550px] flex-shrink-0 overflow-hidden">
    <FormRefered1/>
  </div>
</div>