---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type ReferralContent = Translations['main']['information']['referral'];
interface Props {
  content: ReferralContent;
}
const { content } = Astro.props as Props;
---
<div class="flex flex-col md:flex-row justify-center items-center gap-[10px] md:gap-[53px] mb-[58px] md:mb-0">
  <div class="flex flex-col justify-center items-center max-w-none md:max-w-[537px]">
    <h2 class="text-primary-dark-bold md:text-primary-dark text-center text-[24px] md:text-[48px] font-semibold leading-[26px] md:leading-[58px] mb-[28px] md:mb-[18px]">{content.title}</h2>
    <p class="text-[13px] md:text-[16px] font-normal md:font-medium text-primary-dark-bold leading-[28px] md:leading-[25px] text-center md:text-start mb-[25px] md:mb-[32px]">{content.text1}</p>
    <Button class='button-gradient px-[38px] h-[48px] md:h-auto '>
      {content.button}
    </Button>
  </div>
  <div class="bg-[#787878] rounded-[15px] h-[193px] md:h-[316px] w-full md:w-[550px]"></div>
</div>