---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type RenderingContent = Translations['main']['information']['rendering'];
interface Props {
  content: RenderingContent;
}
const { content } = Astro.props as Props;
---
<div class="shadow-design flex flex-col md:flex-row justify-center md:justify-between items-center gap-[4px] md:gap-0 px-3 md:px-[30.5px] pt-[16px] pb-[22px] md:py-[50px] w-full rounded-[15px] bg-white mb-[68px] md:mb-0">
  <div class="flex flex-col justify-center items-center max-w-[537px]">
    <h3 set:html={content.title} class="text-[20px] md:text-[40px] font-medium md:font-normal leading-[26px] md:leading-[46px] text-center text-primary-dark-bold mb-[18px] "></h3>
    <p class="text-[13px] md:text-[16px] leading-[20px] md:leading-[25px] font-medium mb-8 px-[28px] md:px-0 text-center">{content.text}</p>
    <Button class='button-gradient px-[38px] h-[48px] '>
      {content.button}
    </Button>
  </div>
  <div class="w-full md:w-[550px] h-[179px] md:h-[316px] rounded-[15px] bg-[#787878]"></div>
</div>